<div class="container">
  <div>
    <button class="btn btn-primary mr-4 mb-4" routerLink="/eventoadd/{{id}}">
      <i class="fa fa-plus-circle"></i>&nbsp;
      Novo Evento
    </button>
    <button class="btn btn-secondary mr-4 mb-4" routerLink="/usuario/{{id}}">
      <i class="fa fa-user-cog"></i>&nbsp;
      Usuario
    </button>
    <button class="btn btn-light mb-4" routerLink="/search">
      <i class="fas fa-search"></i>&nbsp;
      Pesquisar
    </button>
  </div>
  <div class="card list-car">
    <h5 class="card-header">Eventos de Hoje</h5>
    <div class="card-body">
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Local</th>
              <th scope="col">Data e Hora</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let evento of eventos" >
              <td><b>{{evento.event.nome}}</b></td>
              <td>{{evento.event.local}}</td>
              <td>{{evento.event.data | dateTimeFormatedPipe}}</td>
              <td>
                <div class="btn-group">

                  <button type="button" class="btn btn-primary btn-sm ml-1"
                   routerLink="/eventodet/{{evento.event.id}}/{{id}}">
                    <i class="fa fa-info-circle"></i>&nbsp;
                    Detalhes
                  </button>

                  <button type="button" class="btn btn-success btn-sm ml-2"
                   routerLink="/eventodet/{{evento.event.id}}/{{id}}">
                    <i class="fa fa-share-square"></i>&nbsp;
                    Convidar
                  </button>

                </div>
              </td>
            </tr>
          </tbody>
          <tfoot *ngIf="!evento">
            <tr>
              <td colspan="7" class="text-center">
                <h4>
                  <br><span style="color: blue;">Nenhum evento encontrado!</span>
                </h4>
              </td>
            </tr>
          </tfoot>
        </table>
    </div>
  </div>

