<div class="container">
  <div class="d-flex">
    <button class="btn btn-primary mr-4 mb-4" routerLink="/eventoadd/{{id}}">
      <i class="fa fa-plus-circle"></i>&nbsp;
      Novo Evento
    </button>
    <button class="btn btn-secondary mr-4 mb-4" routerLink="/usuario/{{id}}">
      <i class="fa fa-user-cog"></i>&nbsp;
      Usuario
    </button>
    <button class="btn btn-light mb-4" routerLink="/search/{{id}}">
      <i class="fas fa-search"></i>&nbsp;
      Pesquisar
    </button>
    <button class="btn btn-light mb-4 ml-auto" disabled>
      <h5>{{dataExtenso}}</h5>
    </button>

  </div>
  <div class="card list-car border-primary">
    <h5 class="card-header"><i class="fas fa-calendar-day mr-2"></i>&nbsp;Meus eventos de hoje</h5>
    <div class="card-body">
      <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Local</th>
              <th scope="col">Data e Hora</th>
              <th scope="col" colspan="2">Ações</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let evento of eventos" >
              <td><b>{{evento.nome}}</b></td>
              <td>{{evento.local}}</td>
              <td>{{evento.data | dateTimeFormatedPipe}}</td>
              <td colspan="2">
                <div class="btn-group">

                  <button type="button" class="btn btn-primary btn-sm ml-1"
                   routerLink="/eventodet/{{evento.id}}/{{id}}">
                    <i class="fa fa-info-circle"></i>&nbsp;
                    Detalhes
                  </button>

                  <button type="button" class="btn btn-success btn-sm ml-2"
                   routerLink="/eventodet/{{evento.id}}/{{id}}">
                    <i class="fas fa-user-plus"></i>&nbsp;
                    Convidar
                  </button>

                </div>
              </td>
            </tr>
          </tbody>
          <tfoot *ngIf="!eventos">
            <tr>
              <td colspan="7" class="text-center">
                <h4>
                  <br><span style="color: blue;">Nenhum evento encontrado!</span>
                </h4>
              </td>
            </tr>
          </tfoot>
        </table>
    </div>
  </div>

  <div class="card list-car border-primary">
    <h5 class="card-header"><i class="fas fa-calendar-alt mr-2"></i>&nbsp;Meus próximos eventos</h5>
    <div class="card-body">
      <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Local</th>
              <th scope="col">Data e Hora</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let eventoPr of eventosPr" >
              <td><b>{{eventoPr.nome}}</b></td>
              <td>{{eventoPr.local}}</td>
              <td>{{eventoPr.data | dateTimeFormatedPipe}}</td>
              <td>
                <div class="btn-group">

                  <button type="button" class="btn btn-primary btn-sm ml-1"
                   routerLink="/eventodet/{{eventoPr.id}}/{{id}}">
                    <i class="fa fa-info-circle"></i>&nbsp;
                    Detalhes
                  </button>

                  <button type="button" class="btn btn-success btn-sm ml-2"
                   routerLink="/eventodet/{{eventoPr.id}}/{{id}}">
                    <i class="fas fa-user-plus"></i>&nbsp;
                    Convidar
                  </button>

                </div>
              </td>
            </tr>
          </tbody>
          <tfoot *ngIf="!eventoPr">
            <tr>
              <td colspan="7" class="text-center">
                <h4>
                  <br><span style="color: blue;">Nenhum evento encontrado!</span>
                </h4>
              </td>
            </tr>
          </tfoot>
        </table>
    </div>
  </div>

